.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
  box-sizing: border-box;
}

.title {
  margin: 30px;
}

.question {
  margin-bottom: 30px;
}

.answers {
  display: grid;
    grid-auto-rows: 1fr;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.answer {
  cursor: pointer;
  border-radius: 6px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer0 {
  background: #e21b3c;
}

.answer1 {
  background: #e1bc6b;
}

.answer2 {
  background: #6198dc;
}

.answer3 {
  background: #67b26b;
}

.selected {
  opacity: 0.5;
  cursor: default;
}

.answered {
  margin-top: 30px;
  font-size: calc(5px + 2vmin);
}

.admin-button {
  cursor: pointer;
  background: blueviolet;
  margin: 30px;
  padding: 5px;
  border-radius: 4px;
}

.done {
  position: absolute;
  top: 0;
  right: 15px;
}

.winners {
  display: flex;
  margin-top: 50px;
  justify-content: flex-end;
  align-items: flex-end;
}

.winner {
  margin:2px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.first-winner {
  height: 200px;
  background: #fcc201;
}

.second-winner {
  height: 150px;
  background: #d7d7d7;
}

.third-winner {
  height: 100px;
  background: #965a38;
}

.highlight {
    color: orange;
}

.sign-out {
    position: absolute;
    top: 0;
    right: 0;
}
